@purple:#7e3899;

html { scroll-behavior: smooth; }


.row{
    max-width: 1464px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vert{
    flex-direction: column;
}

section{
    transition: 0.25s;
}

.com-header{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 32px 0;
    border-bottom: 4px solid @purple;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar{
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    &__logo{
        &-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        img{
            height: 90px;
            transition: 0.5s;
            font-weight: 800;
            font-size: 1.125rem;
            position: relative;
            &:hover{
                transform: rotate(360deg);
            }
        }
        
    }
    &__item{
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
       
    }
    &__links{
        display: flex;
        list-style: none;
    }
    &__url{
        font-weight: 800;
        font-size: 1.125rem;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        height: 100%;
        width: 100%;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.25s;
        color: black;
        &:hover, &:focus{
            background-color: @purple;
            color: white;
        }
    }

}

.paralax-image{
    margin-top: 93px;
    background-image: url(/paralax.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0; 
        background: rgba(0,0,0,0.8);
    }
    &__content{
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        color: white;
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    &__description{
        color: white;
        font-size: 1.75rem;
        font-weight: 500;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    &__quote{
        color: white;
        font-size: 1.25rem;
        font-weight: 400;
        transition: 0.25s;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    &__button{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        a{
            text-decoration: none;  
            border: 2px solid white;
            color: white;
            text-transform: uppercase;
            margin: 0 8px;
            padding: 0 24px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            transition: 0.25s;
            border-radius: 8px;
            &:hover, &:focus{
                background: @purple;
                font-weight: 700;
            }
            span{
                margin-right: 8px;
            }
        }

    }
}

.video-section{
    margin-top: 50px;
    background: lightgray;
    padding-bottom: 50px;
    
    &__inner{
        background: lightgray;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__header{
        font-size: 2.5rem;
        font-weight: 700;
        padding:25px 0;
        text-decoration: underline;
    }
}
.test{
    height: 2000px;
    background: white;
}

.s-schedule{
    padding: 32px 0;
    &__body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
    }
    &__day{
        width: ~"calc(25% - 24px)";
        margin: 24px 12px;
        line-height: 150%;
        &-header{
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 12px;
            font-size: 1.25rem;
            border-bottom: 2px solid @purple;
            width: fit-content;
        }
    }
}

.s-coaches{
    padding: 32px 0;
    &__body{
        display: flex;
    }
    &__img{
        aspect-ratio: 1;
        border-radius: 8px;
        object-fit: cover;
        width: 375px;
    }
    &__right{
        margin-left: 24px;
    }
    &__title{
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 24px;
        border-bottom: 2px solid @purple;
        width: fit-content;
        display: flex;
        align-items: center;
    }
    &__name{
        margin-left: 12px;
    }
    &__about{
        font-size: 1.25rem;
        margin-top: 24px;
        line-height: 150%;
    }
}

.main-footer{
    background-color: black;
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    text-align: center;
    &__quote{
        color: white;
        font-size: 1.25rem;
        font-weight: 400;
        transition: 0.25s;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1464px){
    .row{
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 1024px){
    .s-schedule__day{
        width: ~"calc(33.33% - 24px)";
    }
    .com-header{
        font-size: 2rem;
    }
    .s-coaches, .s-schedule{
        padding: 16px 0;
    }
    .s-coaches{
        &__body{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__right{
            margin-left: unset;
            margin-top: 24px;
        }
        &__title{
            margin-left: auto;
            margin-right: auto;
            font-size: 1.25rem;
        }
        &__about{
            font-size: 1rem;
        }
    }
    .paralax-image{
        background-attachment: unset;
    }
}

@media screen and (max-width: 767px) {
    .paralax-image{
        &__title{
            font-size: 1.5rem;
        }
        &__description{
            font-size: 1.25rem;
            padding: 24px 12px;
            text-align: center;
        }
        &__quote{
            font-size: 0.875rem;
        }
        &__button{
            span{
                display: none;
            }
        }
    }
    .s-schedule__day{
        width: ~"calc(50% - 24px)";
    }
    .main-footer{
        &__quote{
            font-size: 0.875rem;
        }
    }
}

@media screen and (max-width: 525px) {
    .s-schedule__day{
        width: ~"calc(100% - 24px)";
    }
    .top-bar{
        .row{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .main-nav__url{
        padding: 0 8px;
        font-size: 0.875rem;
    }
}