html {
  scroll-behavior: smooth;
}
.row {
  max-width: 1464px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vert {
  flex-direction: column;
}
section {
  transition: 0.25s;
}
.com-header {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 32px 0;
  border-bottom: 4px solid #7e3899;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.top-bar {
  border-bottom: 3px solid black;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: white;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.main-nav__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-nav__logo img {
  height: 90px;
  transition: 0.5s;
  font-weight: 800;
  font-size: 1.125rem;
  position: relative;
}
.main-nav__logo img:hover {
  transform: rotate(360deg);
}
.main-nav__item {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.main-nav__links {
  display: flex;
  list-style: none;
}
.main-nav__url {
  font-weight: 800;
  font-size: 1.125rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  color: black;
}
.main-nav__url:hover,
.main-nav__url:focus {
  background-color: #7e3899;
  color: white;
}
.paralax-image {
  margin-top: 93px;
  background-image: url(/paralax.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paralax-image::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
.paralax-image__content {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paralax-image__title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.paralax-image__description {
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 36px;
  padding-bottom: 36px;
}
.paralax-image__quote {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  transition: 0.25s;
}
.paralax-image__quote:hover,
.paralax-image__quote:focus {
  text-decoration: none;
}
.paralax-image__button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.paralax-image__button a {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  margin: 0 8px;
  padding: 0 24px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: 0.25s;
  border-radius: 8px;
}
.paralax-image__button a:hover,
.paralax-image__button a:focus {
  background: #7e3899;
  font-weight: 700;
}
.paralax-image__button a span {
  margin-right: 8px;
}
.video-section {
  margin-top: 50px;
  background: lightgray;
  padding-bottom: 50px;
}
.video-section__inner {
  background: lightgray;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video-section__header {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 25px 0;
  text-decoration: underline;
}
.test {
  height: 2000px;
  background: white;
}
.s-schedule {
  padding: 32px 0;
}
.s-schedule__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.s-schedule__day {
  width: calc(25% - 24px);
  margin: 24px 12px;
  line-height: 150%;
}
.s-schedule__day-header {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 1.25rem;
  border-bottom: 2px solid #7e3899;
  width: fit-content;
}
.s-coaches {
  padding: 32px 0;
}
.s-coaches__body {
  display: flex;
}
.s-coaches__img {
  aspect-ratio: 1;
  border-radius: 8px;
  object-fit: cover;
  width: 375px;
}
.s-coaches__right {
  margin-left: 24px;
}
.s-coaches__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 24px;
  border-bottom: 2px solid #7e3899;
  width: fit-content;
  display: flex;
  align-items: center;
}
.s-coaches__name {
  margin-left: 12px;
}
.s-coaches__about {
  font-size: 1.25rem;
  margin-top: 24px;
  line-height: 150%;
}
.main-footer {
  background-color: black;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  text-align: center;
}
.main-footer__quote {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  transition: 0.25s;
}
.main-footer__quote:hover,
.main-footer__quote:focus {
  text-decoration: none;
}
@media screen and (max-width: 1464px) {
  .row {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .s-schedule__day {
    width: calc(33.33% - 24px);
  }
  .com-header {
    font-size: 2rem;
  }
  .s-coaches,
  .s-schedule {
    padding: 16px 0;
  }
  .s-coaches__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .s-coaches__right {
    margin-left: unset;
    margin-top: 24px;
  }
  .s-coaches__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
  .s-coaches__about {
    font-size: 1rem;
  }
  .paralax-image {
    background-attachment: unset;
  }
}
@media screen and (max-width: 767px) {
  .paralax-image__title {
    font-size: 1.5rem;
  }
  .paralax-image__description {
    font-size: 1.25rem;
    padding: 24px 12px;
    text-align: center;
  }
  .paralax-image__quote {
    font-size: 0.875rem;
  }
  .paralax-image__button span {
    display: none;
  }
  .s-schedule__day {
    width: calc(50% - 24px);
  }
  .main-footer__quote {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 525px) {
  .s-schedule__day {
    width: calc(100% - 24px);
  }
  .top-bar .row {
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav__url {
    padding: 0 8px;
    font-size: 0.875rem;
  }
}
